# Dependencies
node_modules/

# Build output
.next/
.yarn/
.swc/
out/
build/
public/

# Lock files
yarn.lock
package-lock.json

# Other
*.hbs

# Generated / assets (optional — remove if you want to format these)
# public/assets/
