@font-face {
    font-family: 'icofont';
    src: url(".//icofont.ttf?49461d4a08a47745a490006d21e082c1") format("truetype"),
url(".//icofont.woff?49461d4a08a47745a490006d21e082c1") format("woff"),
url(".//icofont.woff2?49461d4a08a47745a490006d21e082c1") format("woff2");
}

i[class^='icofont-']:before, i[class*=' icofont-']:before {
    font-family: icofont !important;
    font-style: normal;
    font-size: 24px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icofont-time:before {
    content: '\f101';
}
.icofont-success:before {
    content: '\f102';
}
.icofont-star:before {
    content: '\f103';
}
.icofont-secure:before {
    content: '\f104';
}
.icofont-phone:before {
    content: '\f105';
}
.icofont-no-photo:before {
    content: '\f106';
}
.icofont-mail:before {
    content: '\f107';
}
.icofont-location:before {
    content: '\f108';
}
.icofont-heart:before {
    content: '\f109';
}
.icofont-error:before {
    content: '\f10a';
}
.icofont-close:before {
    content: '\f10b';
}
.icofont-arrow:before {
    content: '\f10c';
}
.icofont-arrow-simple:before {
    content: '\f10d';
}
