$icofont-font: 'icofont';

@font-face {
    font-family: $icofont-font;
    src: url(".//icofont.ttf?4ae12d16ff13d426d1f4f7c1d27f23ad") format("truetype"),
url(".//icofont.woff?4ae12d16ff13d426d1f4f7c1d27f23ad") format("woff"),
url(".//icofont.woff2?4ae12d16ff13d426d1f4f7c1d27f23ad") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.icofont {
    font-family: $icofont-font !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.5rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icofont-map: (
    'arrow-simple': '\f101',
    'arrow': '\f102',
    'close': '\f103',
    'error': '\f104',
    'heart': '\f105',
    'location': '\f106',
    'mail': '\f107',
    'phone': '\f108',
    'secure': '\f109',
    'star': '\f10a',
    'success': '\f10b',
    'time': '\f10c',
);

.icofont-arrow-simple:before {
    content: map-get($icofont-map, 'arrow-simple');
}
.icofont-arrow:before {
    content: map-get($icofont-map, 'arrow');
}
.icofont-close:before {
    content: map-get($icofont-map, 'close');
}
.icofont-error:before {
    content: map-get($icofont-map, 'error');
}
.icofont-heart:before {
    content: map-get($icofont-map, 'heart');
}
.icofont-location:before {
    content: map-get($icofont-map, 'location');
}
.icofont-mail:before {
    content: map-get($icofont-map, 'mail');
}
.icofont-phone:before {
    content: map-get($icofont-map, 'phone');
}
.icofont-secure:before {
    content: map-get($icofont-map, 'secure');
}
.icofont-star:before {
    content: map-get($icofont-map, 'star');
}
.icofont-success:before {
    content: map-get($icofont-map, 'success');
}
.icofont-time:before {
    content: map-get($icofont-map, 'time');
}
